body {
    font-family: Arial, sans-serif;
    background: #fafafa;
    text-align: center;
    padding: 30px;
}

#box {
    margin: auto;
    background: #000000;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background: #4c7dff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #2f5bfd;
}
